body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
    text-align: center;
}

.navigation, .follow {
    padding: 1rem;
}

.navigation {
    background-color: #34495e;
}

.follow {
    background-color: #2c3e50;
    text-align: center;
}

.navigation ul, .follow ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li, .follow ul li {
    color: #ecf0f1;
}

.navigation ul li {
    padding: 0.5rem 0;
}

.navigation ul ul {
    padding-left: 1rem;
}

.follow ul li {
    display: inline-block;
    margin: 0 1rem;
}